<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Quiz</title>
</head>
<body>
Prepara o embarque, porque o avião dos futuros alunos prósperos do Digital Boost está prestes a decolar, não queremos que você fique de fora dessa viagem! É isso mesmo, a oportunidade de aprender a ganhar dinheiro como {{ profission }} sem sair de casa, sem ter um chefe chato e sem preocupações com falta de dinheiro no final do mês!
            
<h2>⏰ É HOJE, APROVEITE QUE ESSE PREÇO É ÚNICO</h2>

O conhecimento obtido por diversos profissionais, como o comandante Claudio que é o CEO da Digital Quiz e faturou mais de R$30.000 em apenas um mês usando a tecnologia ao seu favor. Fora todo conhecimento, existem várias bagagens premiadas te aguardando, sim elas estão a poucos cliques de você, veja algumas delas que estamos presenteando você.
             
Bagagem número 1: Mapa do Sucesso, criado com o intuito de não ter erro no seu plano de estudo, todo o passo a passo do que tem que ser feito para começar a faturar seus R$500,00 a mais todos os meses.
            
Bagagem número 2: Aplicativo Secreto: Esse aqui é ótimo para todos nós que esquecemos o conteúdo aprendido, ele é como se fosse aquele bilhete que você tem de sua passagem aérea, para você lembrar sempre do seu objetivo, só que com uma metodologia campeã. 
            
Bagagem número 3: Template da Proposta Campeã, esse foi usado por diversas pessoas que fazem parceria com empresas, para fechar contrato. Só de você enviar isso para um futuro cliente/parceiro, a sua credibilidade aumentará de tal tamanho que será quase impossível não fazer dinheiro com isso!
            
Não perca mais tempo, esse voo é unico e leva a uma vida mais prospera e feliz. Quando você chegar no destino desejado pode vir nos agradecer e iremos amar colocar seu depoimento junto com de nossos outros alunos. Até esse mês ainda, por apenas R$47,00 você garante seu acesso junto com milhares de outros tripulantes para viagem de sucesso e prosperidade, vamos embarcar juntos nessa?
            
Link: {{ checkoutLink }}
</body>
</html>