<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Quiz</title>
</head>
<body style="text-align: center; background-color: #1b122c !important; color: white !important;">
    <div class="my-email-style" style="text-align: center; background-color: #1b122c !important; color: white !important;">
        <img src="cid:image-07.png" alt=""> 
        <h2 style="font-size: 28px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Olá, {{ fullname }}</h2>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">A decisão de escolher uma profissão digital é um divisor de águas na sua vida, e como o aprendizado real de maneira personalizada e divertida é nosso foco principal, escolhemos a dedo as principais informações do Digital Boost para te ajudar a tomar essa decisão com clareza e revelaremos tudo que tem dentro da plataforma aqui para você, mesmo antes de se tornar um player de sucesso.</p>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Logo ao ter acesso a sua área de membros premium, você irá deparar com o <span style="color: red;">Start</span> do seu game:</p>
        <img style="object-fit: cover; max-width: 90%;" src="cid:image-01.png" alt="Tabuleiro">
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Já no seu start com a gente irá ver a grande diferença nossa para qualquer outra plataforma que existe, onde resumimos apenas o ouro do conteúdo para que você possa aprender um pouco   através da leitura, mas muito em conhecimento nada de enrolação, apenas o conteúdo refinado.</p>
        <img style="object-fit: cover; max-width: 90%;" src="cid:image-02.png" alt="Mulher negra lendo um livro">
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Agora, depois de pegar conhecimento com a breve leitura mas poderosa, você já está com conhecimento na cabeça mas não sabe como usar, e se não aplicar em nada logo esquecerá, agora é o momento da diversão do Game do Digital Quiz Boost.</p>
        <img style="object-fit: cover; max-width: 90%;" src="cid:image-03.png" alt="Tabuleiro">
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Essa hora da diversão e a sensação de você aplicar o conhecimento que você aprendeu não tem preço, com nossa metodologia de aprender jogando, você se sentirá uma pessoa mais vitoriosa, e verá seu progresso a cada fase que você termina, é uma jornada incrível!</p>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Já gostou?? Você pode começar sua experiência agora, clicando no botão abaixo:</p>
        <a style="text-decoration: none; color: #1b122c;" href="{{ checkoutLink }}"><img src="cid:image-04.png" alt="Seta escrito Enter"></a>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Depois de passar sua primeira fase com vitória! Você irá deparar com  as outras que levarão você para um conhecimento profundo da sua profissão digital e colher os seus primeiros frutos:</p>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">1 Leitura rápida e poderosa do conteúdo</p>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">2 Gamificação, jogar aprendendo</p>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">3 Colocar em prática o que aprendeu com ajuda da nossa equipe especializada</p>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">4 Ferramentas bônus que farão você não perder o foco e lembrar sempre do que aprendeu.</p>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">5 Colher seus primeiros R$500.00 </p>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Extras:</p>
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Ferramenta para você praticar o que aprendeu, é utilizada por poucas pessoas do Brasil e as que usam ficam com a memória tão boa que na hora que mais precisa da palavra ela sai automaticamente da boca:</p>
        <img style="object-fit: cover; max-width: 90%;" src="cid:image-05.png" alt="Carta escrita Top Secret">
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Durante sua jornada, você receberá seu certificado para lembrar dessa vitória e apresentar para clientes. Ele é personalizado e exclusivo para você.</p>
        <img style="object-fit: cover; max-width: 90%;" src="cid:image-06.png" alt="Imagem de dentro do curso">
        <p style="font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Agora que abrimos as portas e você já conhece as partes mais importantes do Digital Boost, queremos te lembrar de um fator que também faz a diferença: <span style="font-weight: bold;">o custo-benefício.</span></p>
        <p style="font-weight: bold; font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Sua assinatura anual sai por 12 x R$ 9 e você pode estudar, praticar e acessar quantas vezes você quiser.</p>
        <p style="font-weight: bold; font-size: 16px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Lembre-se, tudo que é bom pode, sim, melhorar: por mais R$ 19,90, você pode ter acesso ao melhor suporte de plataformas online do Brasil, uma equipe especializada de uma empresa que se preocupa com o progresso de cada aluno, você está com um time que encare a missão de imersão na nova profissão digital, incluindo uma novas amizades com pessoas com o mesmo propósito de ganhar dinheiro aprendendo.</p>
        <a style="text-decoration: none; color: #1b122c;" href="{{ checkoutLink }}"><img src="cid:image-04.png" alt="Seta escrito Enter"></a>
    </div>
</body>
</html>